<div class="container" >
  <div class="card col-md-6 offset-3 mt-4">
    <div class="card-header">
      <div class="card-header"><h1 class="text-success"><strong>NEW PLANT</strong></h1></div>
    </div>
    <div class="card-body">
      <form [formGroup]="newPlantFormGroup" (ngSubmit)="savePlant()">
        <div class="mb-3">
          <label class="form-label">Name:</label>
          <input type="text" formControlName="name" class="form-control">
        </div>

        <div class="mb-3">
          <label class="form-label">Species:</label>
          <input type="text" formControlName="species" class="form-control">
        </div>
        <div class="mb-3">
          <label class="form-label">Purchase Date:</label>
          <input type="text" formControlName="purchaseDate" class="form-control">
        </div>
        <div class="mb-3">
          <label class="form-label">IS WATERING:</label>
          <input type="text" formControlName="isWatering" class="form-control">
        </div>
        <div class="mb-3">
          <label class="form-label">Quantity Water:</label>
          <input type="text" formControlName="quantityWater" class="form-control">
        </div>
        <div class="mb-3">
          <label class="form-label">Watering Frequency:</label>
          <input type="text" formControlName="wateringFrequency" class="form-control">
        </div>
        <div class="mb-3">
          <label class="form-label">Image:</label>
          <input type="text" formControlName="image" class="form-control">
        </div>

        <!--<form action="save-image" method="post" enctype="multipart/form-data">
          <label class="form-label">Image:</label>
          <input type="file" formControlName="image" class="form-control">
        </form>-->

        <button [disabled]="newPlantFormGroup.valid" class="btn btn-info">Save</button>
      </form>
    </div>
  </div>
</div>

